[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"

[packages]

requests = "*"
flask = "*"
PyYAML = "==3.12"
"ruamel.yaml" = "==0.15.95"
